* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  align-items: center;
  justify-content: center;
}

.registerbox {
  background-color: #fff;
  margin-top: 70px;
  margin-left: 650px;
  width: 400px;
  padding: 30px;
  border-radius: 20px;
}
